body {
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    overflow: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-image: url("./hinhanhdep.jpg");
    font-family: "Google Sans",sans-serif;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color:#34a853;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    gap: 1000px;
}
.ndung{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    background-color: transparent;
    border: none;
    padding: 0;
    height: 68px;
    width: 50px;
}
.icon-bar{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.icon:hover .list-ndung{
    display: block;
}
.list-ndung{
    list-style-type: none;
    width: 180px;
    height: 266px;
    color: #fff;
    background-color: #000000;
    position: absolute;
    top: 11%;
    right: 26px;
    border-top: 3px solid #fff;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.text-1{
    width: 180px;
    height: 43px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 0.5px solid #8e8e8e;
    border-bottom: 0.5px solid #636363;
}
.text-1 span{
    padding-right: 20px;
}
.text-1:hover{
    color: #0dc0c0;
    background-color: #2a2e34;
}
.container-content-3{
    width: 140px;
    height: 28px;
    /* margin: 0 10px 9px 0px;
    padding-top: 9px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 80px;
}
.list-icon{
    list-style-type: none;
    width: 140px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}
.icon-instagram {
    width: 46px;
    height: 68px;
    color: #b0bac2;
    display: flex !important;
    justify-content: center !important;
    line-height: 68px !important;
    border-left: 1px solid #636363;
    transition: all 0.1s ease-in-out 0s;
}
.icon-facebook{
    width: 46px;
    height: 68px;
    color: #b0bac2;
    display: flex !important;
    justify-content: center !important;
    line-height: 68px !important;
    border-left: 1px solid #636363;
}
.icon-envelope {
    width: 46px;
    height: 68px;
    color: #b0bac2;
    display: flex !important;
    justify-content: center !important;
    line-height: 68px !important;
    border-right: 1px solid #636363;
}
.icon-instagram:hover {
    background-color: #E95950;
    color: white;
    
}
.icon-facebook:hover {
    background-color: #3B5998;
    color: white;
}
.icon-envelope:hover {
    background-color: #34a853;
    color: white;
}
.icon-angle{
    margin-right: 10px;
}
.home{
    padding-right: 20px;
    position: relative;
}
.list-home-text{
    list-style-type: none;
    width: 180px;
    height: 133px;
    color: #fff;
    background-color: #000000;
    position: absolute;
    top: 41.8px;
    right: 180px;
    border-top: 3px solid #fff;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.text-1:hover .list-home-text{
    display: block;
}

.header {
    background-color: rgb(31, 132, 145);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Potta One', cursive;
}

section {

    border-radius: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #98d4db;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
@media (max-width: 500px) {
.section {
   max-width:400px;
   margin:20px auto;
    }

}

.col5{
    border-radius: 10px;
    width: 400px;
    height:250px;
    overflow: hidden;
   
}
.col5 img {
    width: 100%;
    height: 150%;
    object-fit: cover; 
  }

.col6{
    width: 400px;
    height:250px;
    overflow: hidden;
   
}
.col6 h2{
    font-size:45px;
    line-height: 0.4px;
}
.col6 p{
    font-size:15px;
}
.col6 p{
    text-align: center;
    padding: 40px;
}
@media (max-width: 1200px) {
.col6 h2 {
   font-size: 20px !important;  
    }
.col6 p {
    font-size:12px;
}
}

.bod {
    display: flex;
    justify-content: space-between;
 }
.containey {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 500px) {
.containey {
    grid-template-columns: repeat(1, 1fr);
    width: 70%; 
    float: none; 
    }
}
  
.item {
    position: relative;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 430px;
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    
}

.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    opacity: 1;
    transition: opacity 1 ease;
}

.item:hover .overlay {
    opacity:0.8;
}

.item .overlay p {
    margin: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
a {
    color: rgb(255, 255, 255); 
    opacity: 1;
    text-decoration: none;
}
a:hover {
    color: rgb(5, 255, 42);
}
a:active {
    color: green; 
  }
.a:visited {
    color: purple; 
  }
footer{
    text-align: left;
    color: #ffffff;
    background-color:#000000;
    font-family: "Times New Roman", serif;
    padding: 13px
}
.footer {
    color: #ffffff;
    text-align: right;
    padding: 10px;
 }
 .footer a{
    color:rgb(2, 117, 79); 
     opacity: 1;
     text-decoration: none;
     font-size: 15px;
 }
 .footer a:hover{
    color:rgb(240, 223, 130);
 }
